// Responsive Classes
// scss-lint:disable ImportantRule
@mixin elr-responsive-classes() {
  .elr-hide {
    display: none !important;
  }

  .elr-hide-desktop {
    @include elr-breakpoint(
      $config: (
        point: $saturn + 1,
        modifier: "min-width",
      )
    ) {
      display: none !important;
    }
  }

  .elr-hide-tablet {
    @include elr-breakpoint(
      $config: (
        point: $saturn,
        modifier: "max-width",
        secondary-point: $neptune + 1,
        secondary-modifier: "min-width",
      )
    ) {
      display: none !important;
    }
  }

  .elr-hide-mobile {
    @include elr-breakpoint(
      $config: (
        point: "neptune",
      )
    ) {
      display: none !important;
    }
  }
}
